*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s;
}

body{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 100%;
}

#head{
    display: flex;
    width: 100%;
    background-color: rgb(38, 38, 38);
    box-shadow: 0 3px 10px black;

    color: aliceblue;
    font-size: 28pt;
    font-family: 'Arial Black', Arial, sans-serif;
    
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.addColDiv{
    display: flex;
}

.columnName{
    margin: 10px 0 10px 10px;
}

.addColButt{
    margin: 10px 5px 10px;
    padding: 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid white;
}

#head a{
    padding-left: 3%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    color: aliceblue;
    width: auto;
}

.columnName{
    width: 300px;
}

.column{
    display: flex;
    
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    min-width: 60px;
    height: 100%;

    background: linear-gradient(to right, rgb(60, 60, 60), rgb(50, 50, 50));
}

.txt{
    width: 100%;
    padding-top: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.138) inset;
}

textarea{
    width: calc(100% - 20px);
    padding: 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid white;
}

.header1{
    white-space: nowrap;
}

.txt textarea{
    margin-left: 10px;
    margin-right: 10px;
}

.addColButt:hover,
textarea:hover{
    box-shadow: 0 0 7px lime inset;
}

textarea:focus{
    box-shadow: 0 0 7px rgba(0, 255, 0, 0.5) inset;
}

.column p{
    white-space: nowrap;
    height: 23px;
    font-family: 'Arial Black', Arial, sans-serif;
    text-shadow: 0 0 10px rgb(255, 0, 0);
    text-transform: uppercase;
    margin-bottom: var(--marg); --marg: 10px;
    margin-top: var(--marg);
}

.b_o_t{
    width: 100%;
    transition: 0.3s;
}

.b_o_t h1{
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 11pt;
}

.b_o_t .block:hover{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.483);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.block{
    display: flex;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;

    border-radius: 5px;
    
    justify-content: center;

    background: rgba(240, 248, 255, 0.163);
    transition: 0.3s;
}