*{
    box-sizing: border-box;
    transition: 0.1s;
}

body,html {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 100%;
}

#head{
    display: flex;
    width: 100%;
    background-color: rgb(38, 38, 38);
    box-shadow: 0 3px 10px black;

    color: aliceblue;
    font-size: 28pt;
    font-family: 'Arial Black', Arial, sans-serif;
    
    height: var(--headHeight); --headHeight: 70px;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    z-index: 200;
}

#menuandname{
    display: flex;
}

#head img{
    height: 55px;
    padding-left: 3%;
}

.addColDiv{
    display: flex;
}

.columnName{
    margin: 10px 0 10px 10px;
    width: 250px;
}

.addColButt{
    margin: 10px 5px 10px;
    padding: 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid white;
    width: 80px;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    color: aliceblue;
    width: auto;
}


.column{
    display: flex;
    height: calc(100vh - 80px);
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    min-width: 60px;

    background: linear-gradient(to right, rgb(60, 60, 60), rgb(50, 50, 50));
    border: 2px solid white;
    border-radius: 5px;

    margin: 5px;
}

.txt{
    width: 100%;
    
    margin-top: auto;
    padding: 7px 0 7px 0;
    box-shadow: 0 0 15px rg ba(0, 0, 0, 0.3) inset;
}

textarea{
    width: calc(100% - 20px);
    padding: 10px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid white;
}

.header1{
    white-space: nowrap;
}

.txt textarea{
    margin-left: 10px;
    margin-right: 10px;
}

.addColButt:hover,
textarea:hover{
    box-shadow: 0 0 7px lime inset;
}

textarea:focus{
    box-shadow: 0 0 7px rgba(0, 255, 0, 0.5) inset;
}

.column p{
    white-space: nowrap;
    height: 23px;
    font-family: 'Arial Black', Arial, sans-serif;
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.502);
    text-transform: uppercase;
    margin-bottom: var(--marg); --marg: 10px;
    margin-top: var(--marg);
}

.b_o_t{
    width: 100%;
    transition: 0.3s;
    overflow: auto;
}

.b_o_t h1{
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 11pt;
}

.b_o_t .block:hover{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.483);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.block{
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    overflow: hidden;

    border-radius: 5px;
    
    justify-content: center;

    background: rgba(240, 248, 255, 0.163);
    transition: 0.3s;
}

.block h1{
    text-transform: uppercase;
    margin: 0 10px 0 10px;
}

.block p1{
    margin: 0 10px 0 10px;
    font-family: 'Arial', Arial, sans-serif;
}

.block h1, .block p1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#sidenav{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 300px;
    height: calc(100vh);
    left: -300px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    backdrop-filter: blur(15px);
}

#listNav{
    display: flex;
    flex-direction: column;
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 24pt;
    background-color: rgba(240, 248, 255, 0.25);

    padding: 10px;
    margin-left: 20px;

    margin-top: 60%;
}

#closeSide{
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(  0px);
    display: none;

    transition: 0.3s;
}

.ads{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;
    margin-left: 300px;
    background-color: white;
    color: black;

    z-index: 110;
}




@media (max-width: 600px){
    .main{
        flex-direction: column;
    }
    #head{
        height: 140px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .column{
        height: calc(100vh - 150px);
    }
    .columnName{
        width: calc(100vw - 100px);
    }
}